{% extends "base.html" %}
{% comment %}

Main page of django_consultant's website.

{% endcomment %}

{% block head %}
    <title>Django Consultants</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Event Ticket</h1>
    </header>

    <section>
        <p>Welcome to <img src="http://localhost/static/logo.png" alt="Event Ticket">.</p>
        <p>Please click <a href="/ticket/">here</a> to log into our web portal.</p>
        <button type="button" id="add_event">Add Event</button>
    </section>
{% endblock %}